body {
  font-family: "Open Sans Condensed";
  padding: 20px 40px;

  @media screen and (max-width: 800px) {
    padding: 10px;
  }
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.flex-basis-10 {
  flex-basis: 10%;
}

.flex-basis-22 {
  flex-basis: 22%;
}

.flex-basis-23 {
  flex-basis: 23%;
}